.trendingMovies {

    h2 {
        text-align: center;
        color: #fff;
        font-size: 4rem;
        padding: 4rem 0;
    }
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }

.posterImage {
    position: relative;
}

.posterOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0.25rem;
    transition: all 0.25s ease;

    &:hover {
        background: #000;
        opacity: 0.5;
        cursor: pointer;
    }
}

.posterImageNone {
    background: #5f5c5c;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;

    .posterOverlay {
        margin-bottom: 0;
    }
}

.likeIcon {
    font-size: 3rem;
    cursor: pointer;

    &:hover,
    &:focus {
        opacity: 0.75;
    }
}

.infoAndLikeContainer {
    font-size: 1.5rem;
    font-weight: bold;
    background: #e50914;
    color: #fff;
    margin-top: -0.25rem;
    padding: 0 1.5rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieTitle {
    width: 75%;
}