nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    height: 6rem;

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        color: #e50914;
        letter-spacing: 0.1rem;
    }

    span {
      font-size: 2rem;
      padding-left: 0.75rem;
    }

    a {
      display: flex;
    }
  }

  .homeNav {
    position: fixed;
    z-index: 10;
    width: calc(100% - 5rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    transition: all 0.75s ease;
  
    &.scrolled {
      background: #000;
    } 
  }

  .signInButton,
  .accountButton {
    align-self: flex-start;
    color: #fff;
    background: none;
    border: none;
    margin: 1.5rem 4rem;
    font-size: 1.75rem;
    cursor: pointer;
  
    &:hover {
      opacity: 0.75;
    }
  }
  
  .signUpButton,
  .logoutButton {
    align-self: flex-start;
    background: #e50914;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.75rem;
    cursor: pointer;
  
    &:hover {
      opacity: 0.75;
    }
  }

  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.25rem;
    width: 25rem;
    background: #000;
    border: 0.2rem solid #fff;
    padding: 1rem 0.5rem;
    opacity: 0.75;
  
    input {
      height: 3rem;
      width: 17.5rem;
      margin-left: 1rem;
      border: none;
      color: #fff;
      background: #000;
      font-size: 1.6rem;
      outline: none;
  
      &::placeholder {
        color: #fff;
      }
    }
  }

  .searchButton {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.75rem;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
  
      &:hover {
        opacity: 0.75;
      }
  }

  .searchBarAndAccountButtons {
    display: flex;
  }
  
