nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  height: 6rem;
  background: none;

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #e50914;
    letter-spacing: 0.1rem;
  }

  span {
    font-size: 2rem;
    padding-left: 0.75rem;
  }

  a {
    display: flex;
  }
}

.homeNav {
  position: sticky;
  top: 0;
  z-index: 3;
  transition: all 0.75s ease;

  &.scrolled {
    background: #000;
  }
}

.defaultMenu {
  display: flex;
  align-items: center;
}

.defaultMenu {
  display: flex;
}

.hamburgerMenu {
  display: none;
}

.hamburgerIcon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 4.5rem;
  height: 0.65rem;
  margin-bottom: 0.65rem;
  background: #fff;
}

.signInButton,
.accountButton {
  background: none;
  color: #fff;
  border: none;
  margin: 1.5rem 4rem;
  font-size: 1.75rem;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.85;
  }
}

.signUpButton,
.logoutButton {
  background: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.75rem;
  padding: 1.5rem 2rem;
  font-size: 1.75rem;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
  width: 25rem;
  background: #000;
  border: 0.2rem solid #fff;
  padding: 1rem 0.5rem;
  opacity: 0.75;

  input {
    height: 2.75rem;
    width: 17.5rem;
    margin-left: 1rem;
    border: none;
    color: #fff;
    background: #000;
    font-size: 1.6rem;
    outline: none;

    &::placeholder {
      color: #fff;
    }
  }
}

.searchButton {
  height: 2.75rem;
  width: 2.75rem;
  padding: 0;
  margin-right: 0.3rem;
  font-size: 1.75rem;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

// Media queries

@media (max-width: 1240px) {
  nav {
    h1 {
      font-size: 3.5rem;
    }
  }

  .signInButton,
  .accountButton {
    font-size: 1.65rem;
    margin: 1.5rem 3rem;
  }

  .signUpButton,
  .logoutButton {
    font-size: 1.65rem;
    padding: 1.25rem 1.75rem;
  }

  .searchContainer {
    height: 2rem;
    width: 23rem;
  }
}

@media (max-width: 804px) {
  .signInButton,
  .accountButton {
    font-size: 1.6rem;
    margin: 1.5rem 2rem;
  }

  .signUpButton,
  .logoutButton {
    font-size: 1.6rem;
    padding: 1.15rem 1.5rem;
  }

  .searchContainer {
    height: 1.8rem;
    width: 20rem;

    input {
      width: 16rem;
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 700px) {
  nav {
    height: 4rem;
  }
  .defaultMenu {
    display: none;
  }

  .hamburgerMenuContainer {
    display: flex;
    position: relative;
  }

  .hamburgerIcon {
    display: block;
    margin-top: 0.75rem;
    cursor: pointer;
    z-index: 3;

    &.close {
      .bar {
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: translateY(1.3rem) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-1.3rem) rotate(-45deg);
        }
      }
    }
  }

  .bar {
    transition: all 0.25s ease;
  }

  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    height: 100vh;
    width: 45vw;
    background: rgb(10, 10, 10);
    overflow: hidden;
    transition: all 0.25s ease;

    .signInButton,
    .accountButton {
      background: #fff;
      color: #000;
      border: none;
      border-radius: 0.75rem;
      width: 21rem;
      height: 5rem;
      margin: 1.5rem 0;
    }

    .signUpButton,
    .logoutButton {
      color: #fff;
      width: 21rem;
      height: 5rem;
    }

    &.hamburgerMenuInactive {
      position: absolute;
      height: 100vh;
      right: -50rem;
    }
  }

  .hamburgerInputAndButtons {
    padding: 10rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 580px) {
  .hamburgerMenu {
    width: 47.5vw;

    .signInButton,
    .accountButton {
      font-size: 1.5rem;
      width: 18rem;
      height: 4.25rem;
    }

    .signUpButton,
    .logoutButton {
      font-size: 1.5rem;
      width: 18rem;
      height: 4.25rem;
    }
  }

  .searchContainer {
    height: 1.5rem;
    width: 17rem;

    input {
      width: 12rem;
      margin-left: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 480px) {
  nav {
    h1 {
      font-size: 3rem;
    }
  }

  .hamburgerMenu {
    width: 50vw;

    .signInButton,
    .accountButton {
      font-size: 1.4rem;
      width: 17rem;
      height: 4rem;
    }

    .signUpButton,
    .logoutButton {
      font-size: 1.4rem;
      width: 17rem;
      height: 4rem;
    }
  }

  .searchContainer {
    height: 1.4rem;
    width: 16rem;

    input {
      width: 11rem;
      font-size: 1.3rem;
    }
  }

  .bar {
    width: 4rem;
    height: 0.6rem;
    margin-bottom: 0.55rem;
  }

  .hamburgerIcon {
    &.close {
      .bar {
        &:nth-child(1) {
          transform: translateY(1.15rem) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-1.15rem) rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 420px) {
  nav {
    h1 {
      font-size: 2.75rem;
    }
  }

  .hamburgerMenu {
    width: 57.5vw;
  }

  .bar {
    width: 3.75rem;
    height: 0.55rem;
    margin-bottom: 0.5rem;
  }

  .hamburgerIcon {
    &.close {
      .bar {
        &:nth-child(1) {
          transform: translateY(1.05rem) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-1.05rem) rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .hamburgerMenu {
    width: 65vw;
  }
}
