.signInContainer,
.signUpContainer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/d54727b4-2ad9-4e71-bb48-0899f55f103a/49d3aeb8-486a-4e7c-9af2-6cced7625add/CA-en-20230220-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.signInFormContainer,
.signUpFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 10rem);
}

.signInForm,
.signUpForm {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    width: 45rem;
    color: #fff;

    h2 {
        padding-top: 6rem;
        padding-bottom: 2rem;
        font-size: 4rem;
        font-weight: bold;
    }

    .errorMessage {
        background: rgb(194, 66, 66);
        padding: 1.5rem;
        margin-top: -0.5rem;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.75rem;
        margin: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 2.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        height: 3rem;
        width: 25rem;
        border: none;
        background: #333333;
        color: #fff;
        font-size: 1.6rem;
        outline: none;
    
        &::placeholder {
          color: #fff;
        }
    }

    button {
        background: #e50914;
        color: #fff;
        border: none;
        margin-top: 0.75rem;
        padding: 1.25rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.75rem;
        cursor: pointer;
        transition: all 0.2s ease;
      
        &:hover {
          opacity: 0.75;
        }
    }
}

.signInText,
.signUpText {
    color: rgb(115, 115, 115);

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 800px) {
    .signInForm,
    .signUpForm {
        height: 52.5rem;
        width: 40rem;

        h2 {
            font-size: 3.5rem;
        }

        .errorMessage {
            padding: 1.4rem 1.2rem;
            font-size: 1.4rem;
        }

        p {
            font-size: 1.6rem;
            margin: 2rem;
        }

        input {
            height: 2.5rem;
            width: 22.5rem;
            padding: 0.9rem;
            font-size: 1.5rem;
        }

        button {
            margin-top: 0.5rem;
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 600px) {
    .signInForm,
    .signUpForm {
        width: 37.5rem;

        h2 {
            padding-top: 5.5rem;
            font-size: 3.25rem;
        }
    }
}

@media (max-width: 520px) {
    .signInForm,
    .signUpForm {
        height: 45rem;
        width: 32.5rem;

        h2 {
            padding-top: 4rem;
            font-size: 3rem;
        }

        .errorMessage {
            padding: 1rem;
            font-size: 1.2rem;
            width: 18rem;
        }

        p {
            font-size: 1.4rem;
            margin: 2rem;
        }

        input {
            margin-bottom: 2rem;
            height: 2rem;
            width: 18rem;
            font-size: 1.3rem;
        }

        button {
            margin-top: 0;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 420px) {
    .signInForm,
    .signUpForm {
        height: 40rem;
        width: 27.5rem;

        h2 {
            padding-top: 3rem;
            font-size: 2.5rem;
        }

        .errorMessage {
            padding: 0.75rem;
            font-size: 1.1rem;
            line-height: 1.2rem;
            width: 15rem;
        }

        p {
            font-size: 1.3rem;
            margin: 2rem;
        }

        input {
            margin-bottom: 1.5rem;
            height: 1.5rem;
            width: 15rem;
            font-size: 1.2rem;
        }

        button {
            margin-top: 0;
            font-size: 1.4rem;
            padding: 1rem;
        }
    }
}

@media (max-width: 360px) {
    .signInForm,
    .signUpForm {
        height: 37.5rem;
        width: 25rem;

        h2 {
            font-size: 2.25rem;
        }

        .errorMessage {
            font-size: 1rem;
            width: 14rem;
        }

        p {
            font-size: 1.2rem;
        }

        input {
            height: 1.25rem;
            width: 14rem;
            font-size: 1.1rem;
        }

        button {
            font-size: 1.3rem;
        }
    }
}